.editAlarmContainer {
  -webkit-appearance: none;
  grid-area: editAlarm;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
  '. editHeader editHeader editHeader editHeader .'
  '. . . . . .'
  '. minutes minutes seconds seconds .'
  '. . edit edit . .'
}

.editHeader {
  grid-area: editHeader;
}

.minutes {
  grid-area: minutes;
}

.minutes input {
  border: 1px solid black;
  border-radius: 3px;
}

.minutes p {
  display: inline;
}

.seconds {
  grid-area: seconds;
}

.seconds input {
  border: 1px solid black;
  border-radius: 3px;
}

.seconds p {
  display: inline;
}

.editButton {
  grid-area: edit;
  padding: 2px;
}